<header>
	<nav class = "round">
		<p align = "right">
			<%= link_to "Acasa", root_path %> | 
			<%= link_to "Reclame luminoase", reclameluminoase_path %> |
			<%= link_to "POSM", posm_path %> |
			<%= link_to "Fibra Optica", fibraoptica_path %> |
			<%= link_to "Contact", contact_path %>
		</p>
	</nav>
</header>